#post_view .rte{ text-align:justify; }
#post_view .medias{ float:left; margin-right:5px; padding:0 5px;    }
#post_view .media_list ul{ margin:0; padding:0; }
#post_view .media_list ul li{ display:block; margin:0; text-align:right; padding:0; margin-top:5px; text-align:center; }
#post_view .media_list ul li img{ border:1px solid #EAEAEA; }

#post_view .categories{ margin:20px 0; }
#post_view .categories ul{ margin:0; padding:0; list-style-type:none; }
#post_view .categories ul li{float:left; margin-right:3px; }
#post_view .categories a{ text-decoration:underline; }

#post_view .related{ margin:20px 0; }
#post_view .related ul{ list-style-type:none; }
#post_view .related a{ text-decoration:underline; }

#post_view .products{ margin:20px 0; }
#post_view .products h5{ font-size: 12px; padding:0; min-height:30px; }
#post_view .products h5 a{ display:block; }
#post_view .products h5 span{ font-size:10px; font-weight:normal; font-style:italic; color:#666; }
#post_view .products p{ margin:0; padding:0; }
#post_view .products ul{ list-style-type:none; }
#post_view .products ul li{ float:left; padding:5px; margin: 0 10px 10px 0; width: 350px; }
#post_view .products a.content_img{ outline: medium none; display:block; float:left; display:block; border:1px solid #D6D4D4; margin-right: 5px; }
#post_view .addthis_toolbox{ margin:10px 0 10px 0; }

@media (max-width: 767px) {
    #post_view .products ul li{ float:none; width:auto;
    }
}

#postcomments{ margin:20px 0; }
#postcomments .std thead th { background:none; }
#postcomments .std tbody td p span { font-weight:bold; }
#postcomments input[type=text]{ width:80% !important; }
#postcomments textarea{ width:82% !important; }

#post_list ul{ margin:0; padding:0; list-style-type:none; }
#post_list ul li{ margin:20px 0; padding:0 0 10px 0; list-style-type:none; border-bottom:1px solid #EAEAEA;  }
#post_list ul li.last_item{ border-bottom:none; }
#post_list ul li h3{ margin-top:0; margin-bottom:0; padding-bottom:5px; }

#category_info span.bold{ font-weight:bold; }
#category_info h4{ font-size:13px; padding-bottom: 5px; }

#post_list ul li h3 a{ text-decoration:none; }
#post_list ul li h3 a:hover{ text-decoration:underline; }
#post_list ul li p{ padding-bottom:0; }
#post_list ul li span{ color:#999999; font-size:11px; }
#post_list ul li span a{ text-decoration:underline; }
#post_list ul li .excerpt{ margin:5px 0; }
#post_list ul li .img_default{ float:left; margin-right:5px;  }
#post_list ul li .img_default a{ display:block; }
#post_list ul li .img_default img{ border:1px solid #EAEAEA; }
#post_list ul li .detail_left{ float:left; width:420px;  }

#posts_home .block_content{ padding:5px 10px 5px 10px; }
#posts_home ul{ margin:0; padding:0; list-style-type:none; }
#posts_home ul li{ margin:0 0; padding:10px 0; list-style-type:none; border-bottom:1px solid #D0D3D8;  }
#posts_home ul li h3{ margin-top:0; margin-bottom:0; padding-bottom:5px; font-size:14px; font-weight: bold; }
#posts_home ul li h3 a{ text-decoration:none; }
#posts_home ul li h3 a:hover{ text-decoration:underline; }
#posts_home ul li span{ color:#999999; font-size:12px; }
#posts_home ul li .excerpt{ margin-top:5px; }
#posts_home ul li .img_default{ float:left; margin-right:5px;  }
#posts_home ul li .img_default img{ border:1px solid #EAEAEA; }
#posts_home ul li .detail_left{ float:left; }
#posts_home ul li.last_item{ border:none; }
#posts_home ul li.first_item{ padding-top:0; }

.bt_left{ float:left; }
.bt_right{float:right; }
.clear{ clear:both; }
#posts_home h4 span{ font-size:11px; float:right; margin-right:5px; }

/* block search column */
.post_search_block p{ padding:6px 0; font-weight:bold; }
.post_search_block .form-group .form-control{ display: inline-block; margin-right: 6px; max-width: 222px; }

.posts_block li a.post_img{ border: 1px solid #D6D4D4; display:block; background: none; padding:0; float:left; margin-right:5px;  }
.posts_block li h5{ margin:0; }
.posts_block li span{ font-size:12px; }
.posts_block .list-block li{ padding:10px 5px; }
.posts_block .list-block li.first_item{ padding-top:0; }
.posts_block .list-block li a:before{ content:''; padding:0; }

#footer .blog_block_footer{ float:left;  padding: 15px 10px; }
#footer .blog_block_footer.posts_block { clear:left; }
#footer .blog_block_footer ul li a{ background:none; padding:0; border:none; }
#footer .posts_block.blog_block_footer li{ border:none; }


.posts_archives_block .block_content a{ font-weight:bold; }
.posts_archives_block .block_content a.posts_month{ font-weight:normal;	}
